/* 화면 너비 1441 ~ 2685px */
/* @media (max-width: 2685px) {
    .Roka-container {
        margin-top: 30px;
    }
} */

/* 화면 너비 769 ~ 1440px */
@media (max-width: 1440px) {
    /* 로고 */
    .logo-container {
        margin-top: -40px;
    }
    /* 로고2 */
    .logo2-container {
        margin-top: -50px;
        margin-bottom: 10px;
    }
    /* 윈 텍스트 */
    .win-container {
        font-family: SCDream7;
        width: 100%;
        font-size: 29px;
        margin: 0 auto;
        height: 40px;
        margin-bottom: -60px;
        margin-top: 20px;
    }
    /* 로카 리다이렉션 */
    .Roka-item {
        width: 50%;
        height: 60px;
        font-family: VITRO;
        font-size: 40px;
    }
    .Roka-content {
        margin-bottom: 5px;
    }
}
@media (max-width: 900px) {
    .wrap {
        width: 100%;
        height: 105vh;
        background-color: black;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)), url(img/MOTION4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -750px 70px;
    }
    .btn-close {
        width: 53px;
        height: 31px;
        margin-top: 5px;
        margin-right: -10px;
        font-size: 15px;
        font-family: SCDream6;
    }
    /* 로카윈 텍스트 */
    .br-b {
        display: block;
    }
    .win-container {
        margin-top: -5px;
        margin-bottom: 120px;
    }
    /* 로카 리다이렉션 */
    .Roka-container {
        margin-top: -20px;
        margin-bottom: -2px;
    }
    .Roka-item {
        font-size: 28px;
        font-family: VITRO;
        width: 306px;
    }
    #we {
        width: 100%;
    }
    #we-slide > img {
        width: 100%;
        height: 589px;
    }

}

@media (max-width: 570px) {

    .btn-close {
        width: 53px;
        height: 31px;
        margin-top: 5px;
        margin-right: 90px;
    }

    /* 스와이퍼 위 */
    #we {
        position: absolute;
        top: 420px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    #we-slide > img {
        width: 60%;
        height: 434px;
    }
    .Roka-content {
        margin-bottom: 2px;
    }
}

@media (max-width: 430px) {
    .wrap {
        width: 100%;
        height: 105vh;
        background-color: black;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)), url(img/MOTION4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -600px 10px;
    }
    /* 로고 */
    .logo-container {
        margin-top: -20px;
    }
    .logo {
        width: 206px;
        height: 137px;
    }

    /* 로고2 */
    .logo2-container {
        margin-top: -92px;
    }
    .logo2 {
        width: 123px;
        height: 81px;
    }
    /* 텔레그램 */
    a > img {
        width: 28px;
        height: 28px;
    }
    .btn-close {
        width: 53px;
        height: 31px;
        margin-top: 55px;
        margin-right: 130px;
    }

    /* 윈 텍스트 */
    .win-container {
        font-family: SCDream7;
        font-size: 25px;
        margin-top: 20px;
        margin: 0 auto;
        height: 20px;
        margin-top: -30px;
        margin-bottom: -40px;
    }
    /* 로카 리다이렉션 */
    .Roka-container {
        margin-top: 140px;
        margin-bottom: -5px;
    }
    .Roka-item {
        width: 306px;
        height: 55px;
        font-family: VITRO;
        font-size: 28px;
    }
    /* 스와이퍼 위 */
    
    #we-slide > img {
        width: 60%;
        height: 434px;
    }
}

@media (max-width: 375px) {
    .wrap {
        width: 100%;
        height: 105vh;
        background-color: black;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)), url(img/MOTION4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -400px 30px;
    }
    .btn-close {
        width: 53px;
        height: 31px;
        margin-top: 10px;
        margin-right: 130px;
    }
    .win-container {
        font-family: SCDream7;
        width: 100%;
        font-size: 27px;
        margin-top: 20px;
        margin: 0 auto;
        height: 20px;
        margin-top: -30px;
        margin-bottom: -20px;
    }
    .Roka-container {
        margin-bottom: -20px;
    }
    .btn-container {
        margin-left: -10px;
        margin-top: 40px;
    }
    
}
@media (max-width: 320px) {
    .wrap {
        width: 100%;
        height: 105vh;
        background-color: black;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)), url(img/MOTION4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -300px 100px;
    }
    .win-container {
        font-family: SCDream7;
        width: 80%;
        font-size: 26px;
        margin-top: 20px;
        margin: 0 auto;
        height: 20px;
        margin-top: -30px;
    }
    .Roka-container {
        margin-top: 110px;
        margin-bottom: 80px;
    }
    .btn-container {
        margin-left: -30px;
        margin-top: 40px;
    }
    .Roka-container {
        margin-bottom: -20px;
    }
}